<!--
实时日志
 created by 墨盒
 created at 19-2-10
 -->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="common/_layout">

<head>
    <title>实时日志</title>
    <style>
        .message-container {
            overflow-y: scroll;
            height: 500px;
            border: black 1px solid;
        }
    </style>
</head>

<body>
<th:block layout:fragment="content">
    <div class="message-header">
        <el-alert
                title="请注意，实时日志在高并发情况下可能存在一定程度的乱序"
                type="warning"
                show-icon>
        </el-alert>
        <div>
            <span>链接状态:{{ status==1?'连接中':(status==2?'已连接':(status==3?'已断开':'浏览器不支持')) }}</span>
            <!--<el-select v-model="ip" size="small" placeholder="按ip查看">-->
            <!--<el-option-->
            <!--v-for="item in ips"-->
            <!--:key="item"-->
            <!--:label="item"-->
            <!--:value="item">-->
            <!--</el-option>-->
            <!--</el-select>-->
        <div>
            <el-input v-model="ip" style="width:200px;" placeholder="指定ip"></el-input>
            <el-input v-model="tag" style="width:200px;" placeholder="指定tag"></el-input>
        </div>


        <!--<el-select v-model="tag" size="small" placeholder="按tag查看">-->
        <!--<el-option-->
        <!--v-for="item in tags"-->
        <!--:key="item"-->
        <!--:label="item"-->
        <!--:value="item">-->
        <!--</el-option>-->
        <!--</el-select>-->
        </div>
    </div>
    <div class="message-container" ref="content">
        <div v-for="(item,index) in list">
            <!--<ul>-->
            <!--{{ item.line }}&nbsp;&nbsp;-->
            <!--<li>ip:{{ item.ip }}-{{ item.msg }}</li>-->
            <!--</ul>-->
            <span style="float: left;margin:auto 3px;">{{ item.line }}&nbsp;&nbsp;</span>
            <p style="padding-left: 20px;">ip:{{ item.ip }} - tag:{{item.tag}}-{{ item.msg }}</p>

        </div>
    </div>
</th:block>
<th:block layout:fragment="script">
    <script type="text/javascript">
        var vue_data = {
            data: {
                status: 1,
                list: [],
                line: 1,
                ips: [],
                tags: [],
                logs: [],
                ip: '',
                tag: '',
                max: 800
            },
            watch: {
                list: function (ov, nv) {
                    var _this = this;
                    setTimeout(function () {
                        var ele = _this.$refs.content;
                        ele.scrollTop = ele.scrollHeight;
                    }, 20);

                },
                log: function (ov, nv) {
                    if (nv.length > 0) {

                        var log = nv[nv.length - 1];
                        if (this.ip === '' || log.ip === this.ip) {
                            if (this.tag === '' || log.tag === this.tag) {
                                this.list.push(log)
                            }
                        }

                        // if(nv[nv.length-1].ip==this.ip && nv)

                    }


                },
                ip: function () {
                    // if (this.ip !== '')
                    //     if (this.tag === '') {
                    //
                    //     } else {
                    //         this.list = this.logs[this.ip][this.tag];
                    //     }


                },
                tag: function () {
                    // if (this.tag !== '')
                    //     if (this.ip === '') {
                    //
                    //     } else {
                    //         this.list = this.logs[this.ip][this.tag];
                    //     }

                }
            }
        }

        if (WebSocket) {
            var socket = new WebSocket('ws://' + location.host + '/actualLog');
            socket.onmessage = function (ev) {
                console.log(ev);

                var data = JSON.parse(ev.data.replace(/\\n/g, ' \\n '));
                data.line = vue.line++;
                // if (typeof vue.logs[data.ip] === 'undefined') {
                //     vue.logs[data.ip] = {};
                //     vue.logs[data.ip][data.tag] = [];
                // }
                if (vue.ips.indexOf(data.ip) === -1)
                    vue.ips.push(data.ip);
                if (vue.tags.indexOf(data.tag) === -1) {
                    vue.tags.push(data.tag);
                }
                // vue.logs[data.ip][data.tag].push(data);


                if (vue.tag && data.tag !== vue.tag) {
                    return;
                }

                if (vue.ip && data.ip !== vue.ip) {
                    return;
                }

                if (vue.logs.length > vue.max) {
                    vue.logs.splice(0, 1);
                }

                vue.logs.push(data);

                vue.list.push(data);


                // var ele = vue.$refs.content;
                // ele.scrollTop = ele.scrollHeight;
            };
            socket.onerror = function (ev) {
            };
            socket.onopen = function (ev) {
                vue.status = 2;
                console.log('open')
            };
            socket.onclose = function (ev) {
                vue.status = 3;
            }
        } else {
            vue.$alert('您的浏览器版本过低，不支持websocket，请升级浏览器');
            vue.status = 4;
        }

    </script>
</th:block>
</body>

</html>
    