<!--
实时日志
 created by 墨盒
 created at 19-2-10
 -->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="common/_layout">

<head>
    <title>文件列表</title>
    <style>
        li {
            list-style-type: none;
        }
    </style>
</head>

<body>
<th:block layout:fragment="content">
    <el-row v-for="i in Math.ceil( ips.length / 3 )">
        <el-col :span="6" :offset="index % 3 ==0 ? 2:1" v-for=" (ip,index ) in ips.slice( (i -1) * 3, (i)*3 ) ">
            <el-collapse :value="ip.ip" @change="change">
                <el-collapse-item>
                    <template slot="title">
                        ip:{{ ip.ip }}
                    </template>
                    <ul style="padding-left: 0">
                        <li v-for="file in ip.files">{{ getFileName(file.path) }}&nbsp; 创建于{{ new
                            Date(file.created).formatDate('yyyy-MM-dd HH:mm') }} &nbsp;<a style="float: right"
                                                                                          href="javascript:;"
                                                                                          @click="download(ip,file)">下载</a>
                        </li>
                    </ul>
                </el-collapse-item>
            </el-collapse>
        </el-col>
    </el-row>

</th:block>
<th:block layout:fragment="script">
    <script type="text/javascript">
        var vue_data = {
            data: {
                ips: [
                    // {
                    //     ip: '127.0.1.1',
                    //     files: [
                    //         {name: '2018-3-1.log'}
                    //     ]
                    // },
                    // {
                    //     ip: '127.0.0.2',
                    //     files: [
                    //         {name: '2018-3-1.log'}
                    //     ]
                    // },
                    // {
                    //     ip: '127.0.0.4',
                    //     files: [
                    //         {name: '2018-3-1.log'}
                    //     ]
                    // },
                    // {
                    //     ip: '127.0.0.3',
                    //     files: [
                    //         {name: '2018-3-1.log'}
                    //     ]
                    // }
                ]
            },
            mounted: function () {
                var _this = this;
                axios
                    .get('list')
                    .then(function (response) {
                        if (response.data.code === 0) {
                            _this.ips = response.data.data;
                        }

                    })
            },
            computed: {},
            methods: {
                getFileName: function (path) {
                    var regex = new RegExp('/([^/]+$)');
                    var res = regex.exec(path);
                    if (res == null) return path;
                    return regex.exec(path)[1];
                },
                download: function (ip, file) {
                    window.open('download?ip=' + ip.ip + '&name=' + new RegExp('/([^/]+$)').exec(file.path)[1]);
                },
                change: function (value) {
                    var ip = value[0];

                    var _this = this;
                    var index = _this.ips.findIndex(function (d) {
                        return d.ip === ip
                    });
                    if (index !== -1) {
                        console.log('index='+index)
                        console.log(_this.ips);
                        if (!_this.ips[index].status) {
                            _this.$message.warning(ip + ' 已宕机');
                            return;
                        }
                    }

                    axios.get('fileList', {params: {ip: ip}}).then(function (res) {
                        if (res.data.code === 0)
                            for (var i = 0; i < _this.ips.length; i++) {
                                console.log(_this.ips[i].ip + '___' + ip);
                                if (_this.ips[i].ip === ip) {
                                    _this.ips[i].files = res.data.data;
                                    _this.$set(_this.ips, i, _this.ips[i]);
                                }
                            }

                        console.log(res);
                    });
                    console.log(ip);
                }
            },
            watch: {}
        }

    </script>
</th:block>
</body>

</html>
    