<!--
实时日志
 created by 墨盒
 created at 19-2-10
 -->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="common/_layout">

<head>
    <title>数据统计</title>
    <style>
        .message-container {
            overflow-y: scroll;
            height: 500px;
            border: black 1px solid;
        }
    </style>
</head>

<body>
<th:block layout:fragment="content">
    <div>
        <el-select v-model="tag" placeholder="tag" @change="filter">
            <el-option label="所有tag" value="">
            </el-option>
            <el-option th:each="tag : ${tags}" th:label="${tag}" th:value="${tag}">
            </el-option>
        </el-select>
        <el-select v-model="ip" placeholder="ip" @change="filter">
            <el-option label="所有ip" value="">
            </el-option>
            <el-option th:each="ip : ${ips}" th:label="${ip}" th:value="${ip}">
            </el-option>
        </el-select>

        <el-date-picker
                @change="filter"
                v-model="start"
                type="datetime"
                format="yyyy-MM-dd HH:mm"
                value-format="yyyy-MM-dd HH:mm"
                placeholder="开始时间">
        </el-date-picker>
        <el-date-picker
                @change="filter"
                v-model="end"
                type="datetime"
                format="yyyy-MM-dd HH:mm"
                value-format="yyyy-MM-dd HH:mm"
                placeholder="结束">
        </el-date-picker>
    </div>
    <ul>
        <li v-for="(item,i) in list" :key="i">
            tag：{{item.tag}} ip：{{item.ip}} 级别：{{ item.level }} 数量：{{ item.count }}
        </li>
    </ul>
</th:block>
<th:block layout:fragment="script">
    <script type="text/javascript">
        var vue_data = {
            data: {
                tag: '',
                ip: '',
                level: -1,
                list: [],
                all: [],
                start: '',
                end: ''
            },
            filters: {
                time(value) {
                    var date = new Date(value);
                    return date.getFullYear() + '-'
                        + (date.getMonth() < 9 ? ('0' + (date.getMonth() + 1)) : (date.getMonth() + 1))
                        + "-" + (date.getDate() < 10 ? ('0' + date.getDate()) : date.getDate())
                        + " " + (date.getHours() < 10 ? ('0' + date.getHours()) : date.getHours())
                        + ":" + (date.getMinutes() < 10 ? ('0' + date.getMinutes()) : date.getMinutes())
                }
            },
            created() {
                // let _this = this;
                // axios.post('').then(function (res) {
                //     if (res.data.code === 0) {
                //         _this.list = res.data.data;
                //         _this.all = this.list;
                //     }
                // })
            },
            methods: {
                filter() {
                    let _this = this;
                    axios({
                        method: 'post',
                        url: '',
                        params: {
                            tag: _this.tag,
                            ip: _this.ip,
                            start: _this.start,
                            end: _this.end
                        }
                    }).then(function (res) {
                        if (res.data.code === 0) {
                            _this.list = res.data.data;
                            // _this.all = this.list;
                        }
                    })
                }
            }
        }


    </script>
</th:block>
</body>

</html>
    